{% load i18n %}

<div class="d-flex justify-content-center">
  <div class="col-12 col-sm-10 col-md-6 col-lg-4">
    <h2>{% trans "Delete" %} {{ object }}</h2>
    <form action="" method="post">
      {% csrf_token %}

      <p>{% blocktrans %}Are you sure you want to delete the selected {{ object }}?{% endblocktrans %}</p>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {% trans 'Delete' %}
          </button>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
          <a class="btn btn-default" href="javascript:history.back(-1)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            {% trans 'Back' %}
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
