{% extends 'panel/index.html' %}

{% load bootstrap4 i18n %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'panel:index' %}">{% trans "Dashboard" %}</a></li>
{% if company.parent_company %}
<li class="breadcrumb-item"><a href="{{ company.parent_company.get_absolute_url }}">{{ company.parent_company }}</a></li>
{% endif %}
<li class="breadcrumb-item"><a href="{{ company.get_absolute_url }}">{{ company }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Category" %}</li>
{% endblock breadcrumb %}

{% block content_inner %}
  <div class="align-items-center d-flex justify-content-between mb-3">
    <h2>{% trans "Category" %}</h2>
    <a class="btn btn-primary" href="{% url 'panel:category_add' company.slug %}"><i class="fas fa-plus"></i> {% trans "Add" %}</a>
  </div>

  {% include 'panel/_snippets/filter.html' %}

  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>{% trans "Title" %}</th>
          <th>{% trans "Elements related" %}</th>
          <th class="text-right">{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr>
          <th><a href="{% url 'panel:category_detail' company.slug object.id %}">{{ object.title }}</a></th>
          <td>{{ object.products.all|length }}</td>
          <td class="text-right">
            <a class="btn btn-sm btn-success" href="{% url 'panel:category_change' company.slug object.id %}"><i class="fas fa-edit"></i> {% trans "Change" %}</a>
            <a class="btn btn-sm btn-danger" href="{% url 'panel:category_delete' company.slug object.id %}"><i class="fas fa-trash"></i> {% trans "Delete" %}</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td class="text-center text-muted" colspan="5">
            {% trans "No information." %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
{% endblock content_inner %}
