{% extends 'public/company/merchant_detail.html' %}

{% load bootstrap4 i18n %}

{% block merchant_content %}

  {% block breadcrumb %}
    {% include 'public/_snippets/order/breadcrumb.html' %}
  {% endblock breadcrumb %}

  <div class="col">
    <div class="h3">
      Método de pago
    </div>
    <div class="">
        {% include 'public/_snippets/billing_profile/billing_profile.html' %}
    </div>
    <div class="mt-2">
      <a href="{% url 'public:order_confirm' company.slug %}" class="btn btn-warning">Confirmar</a>
    </div>
  </div>


{% endblock merchant_content %}