/* .container-snippets{
    background: #ffffff;
    width: 90%;
    margin: 0 auto;
  
}
.container-snippets div p  {
    display: contents ;
} */
.card{
    background: #e9e9e975;
    margin-bottom: 18px;
}
.card-body span{
    color: rgb(145, 147, 42);
}
