{% extends 'panel/index.html' %}

{% load i18n %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'panel:index' %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Your account" %}</li>
{% endblock breadcrumb %}

{% block content_inner %}
  <div class="align-items-center d-flex justify-content-between mb-3">
    <h2>{% trans "Your account" %}</h2>
    <div>
      <a class="btn btn-primary" href="{% url 'panel:account_change' %}">{% trans "Change" %}</a>
      <a class="btn btn-primary" href="{% url 'panel:account_password_change' %}">{% trans "Change password" %}</a>
    </div>
  </div>
{% endblock content_inner %}
