{% extends 'panel/account/layout.html' %}

{% load i18n %}

{% block content_inner %}
  <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

  <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

  <a class="btn btn-primary btn-block" href="{% url 'panel:account_login' %}">{% trans "Login" %}</a>
{% endblock content_inner %}


