{% extends 'panel/index.html' %}

{% load i18n %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'panel:index' %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'panel:account_detail' %}">{% trans "Your account" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Password change" %}</li>
{% endblock breadcrumb %}


{% block content_inner %}
  <div class="align-items-center d-flex justify-content-between mb-3">
    <h2>{% trans "Password change" %}</h2>
  </div>

  {% include 'panel/_snippets/form.html' with layout="horizontal" %}
{% endblock content_inner %}

